<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.png">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    {% block titulo %}
    {% endblock %}
    <header>
        <div class="main">
            <div class="logo">
                <a href="/"><img src="/static/website/2.png"></a>
            </div>
            <ul>
                <li><a href="login">Login</a></li>
                <li><a href="registo">Registo</a></li>
                <li><a href="apagar">Eliminar Conta</a></li>
                <li><a href="newpass">NewPass</a></li>
            </ul>
        </div>
    </header>

    {% block conteudo %}

    {% endblock %}
</head>
</body>
</html>
