{% extends 'layout.html' %}
{% block titulo %}
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
<body>
{% endblock %}

{% block conteudo %}
<div class="login-box">
    <img src="static/imm/avatar.png" class="avatar">
    <form method="post">
        <h3>Utilizador</h3>
        <input type="text" name="usr" required>
        <h3>Introduza a Palavra-Passe</h3>
        <input type="password" name="pwd" required>
        <h3>Confirme a Palavra-Passe</h3>
        <input type="password" name="cpwd" required>
        <br>
        <input type="submit" value="Submeter">
        <center>
        {% if erro %}<h4>{{ erro }}</h4>{% endif %}
        </center>
    </form>
</div>


</body>
{% endblock %}
